*{
  font-family: sans-serif;
}

.navbar {
  background-color: #576CBC;
    overflow: hidden;
    border-radius: 0;
    display: flex;
    align-items: center !important;
    height: 60px;
    border-bottom: 0.5px solid rgba(0,0,0,.2);
  }
  .navbar a {
    font-size: 1.7rem;
    padding: 7px 50px;
    border-right: 1px solid;
    text-decoration: none;
    color: white;
  }
  .navbar a:hover {
   text-decoration: underline;
    /* color: rgb(82, 82, 205); */
  }

  .login-form {
    float: right;
    padding: 14px 16px;
    color: #f2f2f2;
  }
  .search-form {
    float: right;
    padding: 14px 16px;
    color: #f2f2f2;
  }
  /* Table styles */
  .table-container {
    width: 98%;
    margin-top: 20px;
    margin-left: 20px;
  }
  .data-table {
    border-collapse: collapse;
    width: 100%;
  }
  .data-table td, .data-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
  }
  a{
    text-decoration: none;
    /* border-color: #48E388; */
  }
  .data-table th {
    background-color: #aebac3;
    /* color: white; */
  }
  .data-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .data-table tr:hover {
    background-color: #ddd;
  }
  .dividertable{
    column-count: 1;
    
  }
  h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
input[type="text"], textarea {
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 3px #ccc;
        margin-bottom: 20px;
        width: 90%;
    }
    
    