.task-counts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34vh;
}

/* Style the task count boxes */
.task-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    /* padding: 20px; */
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
height: 100px;
}

/* Style the count and status elements */
.count {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.status {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
#myChartContainer{
  margin-left: 500px;
  background-color: rgb(228, 233, 233);
  height: 300px;
  width: 300px;
  padding: 20px;
}
.navbar {
background-color: #576CBC;
overflow: hidden;
border-radius: 0;
display: flex;
align-items: center !important;
height: 60px;
border-bottom: 0.5px solid rgba(0,0,0,.2);
}
.navbar a {
font-size: 1.9rem;
padding: 7px 50px;
border-right: 1px solid;
text-decoration: none;
color: white;
}
.navbar a:hover {
text-decoration: underline;
/* color: rgb(82, 82, 205); */
}

body{
margin: 0;
}
a{
text-decoration: none;
/* border-color: #48E388; */
}